<div class="container-fluid value-profile">
  <div class="row justify-content-center">
    <div class="container">
      <br>
      <br>
      <br>
      <h3 style="text-align: center">Some table</h3>
      <br>
      <div class="row">
        <div class="col-sm">
          First columns
        </div>
        <div class="col-sm">
          Second columns
        </div>
        <div class="col-sm">
          Third columns
        </div>
        <div class="col-sm">
          Forth columns
        </div>
        <div class="col-sm">
          Fifth columns
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-sm">
          1
        </div>
        <div class="col-sm">
          SoftServe
        </div>
        <div class="col-sm">
          +380509999999
        </div>
        <div class="col-sm">
          someEmail@gmail.com
        </div>
        <div class="col-sm">
          Kyiv, Leipzigskay, 15
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-sm">
          2
        </div>
        <div class="col-sm">
          SoftServe
        </div>
        <div class="col-sm">
          +380509999999
        </div>
        <div class="col-sm">
          someEmail@gmail.com
        </div>
        <div class="col-sm">
          Kyiv, Leipzigskay, 15
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-sm">
          3
        </div>
        <div class="col-sm">
          SoftServe
        </div>
        <div class="col-sm">
          +380509999999
        </div>
        <div class="col-sm">
          someEmail@gmail.com
        </div>
        <div class="col-sm">
          Kyiv, Leipzigskay, 15
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-sm">
          4
        </div>
        <div class="col-sm">
          SoftServe
        </div>
        <div class="col-sm">
          +380509999999
        </div>
        <div class="col-sm">
          someEmail@gmail.com
        </div>
        <div class="col-sm">
          Kyiv, Leipzigskay, 15
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-sm">
          5
        </div>
        <div class="col-sm">
          SoftServe
        </div>
        <div class="col-sm">
          +380509999999
        </div>
        <div class="col-sm">
          someEmail@gmail.com
        </div>
        <div class="col-sm">
          Kyiv, Leipzigskay, 15
        </div>
      </div>


      <br>
      <br>
      <br>
      <br>
      <br>
      <h3 style="text-align: center">Another table</h3>
      <br>
      <div class="row">
        <div class="col-sm">
          First columns
        </div>
        <div class="col-sm">
          Second columns
        </div>
        <div class="col-sm">
          Third columns
        </div>
        <div class="col-sm">
          Forth columns
        </div>
        <div class="col-sm">
          Fifth columns
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-sm">
          1
        </div>
        <div class="col-sm">
          SoftServe
        </div>
        <div class="col-sm">
          +380509999999
        </div>
        <div class="col-sm">
          someEmail@gmail.com
        </div>
        <div class="col-sm">
          Kyiv, Leipzigskay, 15
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-sm">
          2
        </div>
        <div class="col-sm">
          SoftServe
        </div>
        <div class="col-sm">
          +380509999999
        </div>
        <div class="col-sm">
          someEmail@gmail.com
        </div>
        <div class="col-sm">
          Kyiv, Leipzigskay, 15
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-sm">
          3
        </div>
        <div class="col-sm">
          SoftServe
        </div>
        <div class="col-sm">
          +380509999999
        </div>
        <div class="col-sm">
          someEmail@gmail.com
        </div>
        <div class="col-sm">
          Kyiv, Leipzigskay, 15
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-sm">
          4
        </div>
        <div class="col-sm">
          SoftServe
        </div>
        <div class="col-sm">
          +380509999999
        </div>
        <div class="col-sm">
          someEmail@gmail.com
        </div>
        <div class="col-sm">
          Kyiv, Leipzigskay, 15
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-sm">
          5
        </div>
        <div class="col-sm">
          SoftServe
        </div>
        <div class="col-sm">
          +380509999999
        </div>
        <div class="col-sm">
          someEmail@gmail.com
        </div>
        <div class="col-sm">
          Kyiv, Leipzigskay, 15
        </div>
      </div>


    </div>
  </div>
</div>
