
<!--NAVIGATION-->
<nav class="navbar navbar-expand-xl navbar-dark bg-dark fixed-top" role="navigation">

  <!--COLLAPSED BUTTON-->
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
          data-target="#dropdownMenu" aria-controls="menu" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!--COLLAPSED BUTTON-->

  <!--BRAND-->
  <a class="navbar-brand" routerLink="/" routerLinkActive="active"
     [routerLinkActiveOptions]="{exact: true}">{{APP_NAME}}</a>
  <!--BRAND-->

  <!--COLLAPSED NAVBAR-->
  <div class="collapse navbar-collapse" id="dropdownMenu">
    <!--LEFT NAVBAR-->
    <div class="nav navbar-nav mr-auto">
      <a class="nav-item nav-link" routerLink="/adminPage" routerLinkActive="active">Admin page</a>
      <a class="nav-item nav-link" routerLink="/map" routerLinkActive="active">Map</a>
    </div>
    <!--LEFT NAVBAR-->

    <!--RIGHT NAVBAR-->
    <div class="nav navbar-nav mr-2">
      <a class="nav-item nav-link my-2 my-lg-0" routerLink="/customer-account" routerLinkActive="active">Account</a>
      <a class="nav-item nav-link my-2 my-lg-0" routerLink="/registration" routerLinkActive="active">Registration</a>
    </div><!--RIGHT NAVBAR-->
  </div><!--COLLAPSED NAVBAR-->
</nav>
