<br>
<br>
<h2 style="text-align: center">Customer Account</h2>
<br>
<br>
<div class="container-fluid">
  <div class="row ng-scope text-center">
    <div class="col-lg-6 col-xl-5 d-flex justify-content-center">
      <div class="card">
        <div class="card-body">
          <img alt="Customer label or user icon"
               class="center-block img-responsive img-circle img-thumbnail thumb96"
               src="assets/images/soft_serve_label.png">
          <br>
          <br>
          <br>
          <h3 class="text-bold">{{customerAccount.name}}</h3>
        </div>
      </div>
    </div><!-- end col-md-6 -->


    <div class="col-lg-6 col-xl-5 d-flex justify-content-center">
      <div class="card">
        <!--UPDATE USER DATA MENU-->
        <h3 class="card-header">Контактная информация</h3>
        <div class="card-body">
          <div class="">{{customerAccount.email}}</div>
          <div class="">{{customerAccount.phone}}</div>
          <div class="">{{customerAccount.address}}</div>
        </div> <!-- end card-body -->
      </div> <!--end card -->


      <div class="card">
        <!--UPDATE USER DATA MENU-->
        <h3 class="card-header">Контактная информация</h3>
        <div class="card-body">
          <!--https://angular.io/guide/form-validation#adding-to-template-driven-forms-->
          <form class="form">

            <!--NAME-->
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input [(ngModel)]="customerAccount.name" autofocus class="form-control rounded-0" id="name"
                       name="name" placeholder="name" required type="text">
              </div>
            </div>

            <!--EMAIL-->
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                </div>
                <input [(ngModel)]="customerAccount.email" class="form-control rounded-0" id="email" name="email"
                       pattern="[a-zA-Z_0-9.]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}" placeholder="email" required
                       type="email"/>
              </div>
            </div>

            <!--PHONE-->
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                </div>
                <input [(ngModel)]="customerAccount.phone" class="form-control rounded-0" id="phone" name="phone"
                       placeholder="phone" required type="text"/>
              </div>
            </div>

            <!--ADDRESS-->
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-addr"></i> </span>
                </div>
                <input [(ngModel)]="customerAccount.address" class="form-control rounded-0" id="address" name="address"
                       placeholder="address" required type="text"/>
              </div>
            </div>

            <!--BUTTON REGISTER-->
            <button (click)="update()" class="btn btn-primary btn-block float-right register"
                    type="submit">Изменить
            </button>
          </form>
        </div> <!-- end card-body -->
        <!--UPDATE USER DATA MENU-->
      </div> <!--end card -->


    </div><!-- end col-md-6 -->
  </div><!-- end row -->
</div><!-- end container-fluid -->



